* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b91547;
}

.container{
    max-width: 52.5rem;
    margin: 20px auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-biglietto{
    border-radius: .625rem;
    background-color: white;
}

.box-calcolo .col{
    width: calc(100% / 3);
    padding: 1.25rem;
    
}
.box-calcolo,
button{
    color: #bc2a58;
}

label {
    display: block;
}

.bottoni{
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    gap: 1.25rem;
}


h1{
    color: white;
    text-align: center
}

h1,
h3{
    text-transform: uppercase;
    margin-bottom: .625rem;
}

select,
input{
    margin-top: 10px;
    border: .0625rem solid #bc2a58;
    padding: .3125rem;
    border-radius: .3125rem;
}

button{
    padding: .3125rem;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.2);
}

.biglietto-personale .box-biglietto{
    padding: .625rem;
}

.border{
    border: .0625rem solid rgba(0, 0, 0, 0.5);
    border-right: none;
}

.dett-passeggero{
    background-color: rgba(0, 0, 0, 0.5);
    padding: .625rem;
}

.biglietto-personale .row div:last-child{
    margin-right: 1.25rem;
}

.biglietto-personale{
    display: none;
}


.show{
    display: block;
}